<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
	
<beans>
	<!-- Example of SAF2 action instantiated by Spring -->
    <bean id="helloWorldAction" class="it_progetto_tsw2.HelloWorldAction" singleton="false" />
   
    <bean id="baseAction" class="it_progetto_tsw2.BaseAction" singleton="false"/>
   	<bean id="baseOptionalAction" class="it_progetto_tsw2.BaseOptionalAction" singleton="false"/>
    <bean id="newOptionalAction" class="it_progetto_tsw2.NewOptionalAction" singleton="false"/>	
    <bean id="campiOptionalAction" class="it_progetto_tsw2.CampiOptionalAction" singleton="false"/>	
    <bean id="updateOptionalAction" class="it_progetto_tsw2.UpdateOptionalAction" singleton="false"/>
    <bean id="deleteOptionalAction" class="it_progetto_tsw2.DeleteOptionalAction" singleton="false"/>
    <bean id="allOptionalAction" class="it_progetto_tsw2.AllOptionalAction" singleton="false"/>
    <bean id="searchOptionalAction" class="it_progetto_tsw2.SearchOptionalAction" singleton="false"/>
    
    <bean id="Optional" class="it_progetto_tsw2_hibernate.Optional" singleton="false"/>
    			
    <bean id="optionalService" class="it_progetto_tsw2.services.OptionalServiceImpl" />

</beans>
		


