.tbmain{ 
 /* Changes on the form */
 background: url(http://italian.jotform.com/images/styles/style1_bg.gif) #ffffff top repeat-x !important; 
}
.left{
  /* Changes on the form */
  color: #ff5200 !important; 
  font-family: Verdana !important;
  font-size: 11px !important;
}
td.left {
   font-family: "Trebuchet MS";
   font-size: 11px;
   font-weight:bold;
   color:#ff5200;
   vertical-align: top;
   text-align: left;
}
.pagebreak{
   font-family: "Trebuchet MS";
   font-size: 11px;
   font-weight:bold;
   color:black;
}
td.right {
   font-family: "Trebuchet MS";
   font-size: 11px;
   font-weight:normal;
   color:#333333;
   vertical-align: top;   
   text-align: left;   
}
.tbmain{
   height:100%;
   color:#333333;
   background:url(http://italian.jotform.com/images/styles/style1_bg.gif) #ffffff top repeat-x;
}
.head{
   font-family: "Trebuchet MS";
   font-size: large;
   font-weight: bold;
   color:#ff5200;
   vertical-align: top;
   text-align: left;
}
.notvalid{
   border:2px red solid;
   font-family:"Trebuchet MS";
}
.text{
   font-family: "Trebuchet MS";
   font-size: 11px;
   font-weight:normal;
   color:#333333;
   border:1px #cccccc solid;
   background:url(http://italian.jotform.com/images/styles/style1_txt_bg.gif) #f6f6f6 top repeat-x;
}
select.other{
   font-family: "Trebuchet MS";
   font-size: 11px;
   font-weight:normal;
   color:#333333;
   border:1px #cccccc solid;
   background:url(http://italian.jotform.com/images/styles/style1_txt_bg.gif) #f6f6f6 top repeat-x;
}
.btn{
   font-family: "Trebuchet MS";
   font-size: 11px;
   font-weight:normal;
   color:#333333;
   border:1px #c6c7ca solid;
   background: url(http://italian.jotform.com/images/styles/style1_btn_bg.gif) #e4e4e4 top repeat-x;
}
span.required{
  font-size: 13px !important;
  color: red !important;
}
 
div.backButton{
	background: transparent url("http://italian.jotform.com//images/btn_back.gif") no-repeat scroll 0 0;
	height:16px;
	width:53px;
	float:left;
	margin-bottom:15px;
	padding-right:5px;
}
div.backButton:hover{
	background: transparent url("http://italian.jotform.com//images/btn_back_over.gif") no-repeat scroll 0 0;
}
div.backButton:active{
	background: transparent url("http://italian.jotform.com//images/btn_back_down.gif") no-repeat scroll 0 0;
}
div.nextButton{
	background: transparent url("http://italian.jotform.com//images/btn_next.gif") no-repeat scroll 0 0;
	height:16px;
	width:53px;
	float: left;
	margin-bottom:15px;
	padding-right:5px;
}
div.nextButton:hover{
	background: transparent url("http://italian.jotform.com//images/btn_next_over.gif") no-repeat scroll 0 0;
}
div.nextButton:active{
	background: transparent url("http://italian.jotform.com//images/btn_next_down.gif") no-repeat scroll 0 0;
}
.pageinfo{
	padding-right:5px;
	margin-bottom:15px;
	float:left;
}
